body{
	width: 100%;
}
/*Sticky Fixed Nav bar*/
.title-bar{
	position: fixed;
	top: 0;
    width: 100%;
    color: #FFED00;
}

.title-bar-right ul{
	overflow: hidden;
	padding: 0;
	display: inline-block;
	text-align: center;
}

.title-bar-right ul li{
	display: inline-block;
	padding: 20px;
}

.title-bar-right li:hover{
	cursor:pointer;
	color: #676000;
}

/*Intro Section*/
.intro{
	font-family: 'Lora', serif;
	margin: 100px 0 0 0;
	text-align: center;
	font-size: 30px;
	font-weight:100;
	background-color:  #FFED00;
	width: 100%;
	height: 500px;
	padding: 140px 0 0 0;
}

/*Print Digital Section*/
.row{
	width: 100%
	height:500px;

}

.medium-6{
	height: 600px;
	text-align: center;
} 

.medium-6 h6, h1, p{
	font-family: 'Lato', sans-serif;
}

/*Image Slider*/

/*Text Section*/
.text{
	width: 100%;
	height: 600px;
	text-align: center;
	color: #000000;
	background-color: #FFFFFF;
	padding: 160px 0 0 0;
	font-size: 29px;
	font-family: 'Open Sans', sans-serif;
	font-weight:lighter;
}

/*Footer*/
.foot{
	height: 380px;
	width: 100%;
	text-align: center;
	background-color: #FFED00;
	color: #000000;
	padding: 140px 0 0 0;
	font-family: 'Open Sans', sans-serif
}

.foot ul{
	overflow: hidden;
	padding: 0;
	display: inline-block;
	text-align: center;
}

.foot ul li{
	display: inline-block;
	padding: 20px;
}

.foot h3{
	font-family: 'Lora', serif;
	font-size: 42px;
	font-weight: bold;

}

.foot h3:hover{
	cursor: pointer;
	color: #676000;
}

.foot h6{
	letter-spacing: 2px;
	font-weight: lighter;
}

.foot ul{
	padding: 60px 0 0 0;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif
}

.foot li:hover{
	cursor:pointer;
	color: #676000;
}