body{
	width: 100%;
}
/*Sticky Fixed Nav bar*/
.title-bar{
	position: fixed;
	top: 0;
    width: 100%;
    color: #FFED00;
}

.title-bar-right ul{
	overflow: hidden;
	padding: 0;
	display: inline-block;
	text-align: center;
}

.title-bar-right ul li{
	display: inline-block;
	padding: 20px;
}

/*Intro Section*/
.intro{
	font-family: 'Lora', serif;
	margin: 100px 0 0 0;
	text-align: center;
	font-size: 30px;
	font-weight:100;
	background-color:  #FFED00;
	width: 100%;
	height: 500px;
	padding: 140px 0 0 0;
}

/*Print Digital Section*/
.row{
	width: 100%
	height:500px;

}

.medium-6{
	height: 600px;
	text-align: center;
} 

.medium-6 h6, h1, p{
	font-family: 'Lora', serif;
}